body {
 background-color: black;
}
h1 {
 color: white; font-family: Arial; text-align: center;
}
p {
 color: white; margin-left: 2px; font-size: 10px; font-family: Arial; margin-top: 40px;
}
span{ color: red; font-family: Times New Roman;}